<%- include('../begin_html') %>
<!-- page content -->
<div class="right_col" role="main" style="min-height: 3773px;">
  <div class="page-content">
    <div class="page-title">
      <div class="title_right">
        <div
          class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for..."
            />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <%- include('../alert_message') %>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-bars"></i> Phòng đang sử dụng</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active">
                  <a
                    href="#tab_detail"
                    id="home-tab"
                    role="tab"
                    data-toggle="tab"
                    aria-expanded="true"
                    >Chi tiết</a
                  >
                </li>
                <li role="presentation">
                  <a
                    href="#tab_services"
                    role="tab"
                    id="profile-tab"
                    data-toggle="tab"
                    aria-expanded="true"
                    >Dịch vụ</a
                  >
                </li>

                <li role="presentation">
                        <a
                          href="#tab_bill"
                          role="tab"
                          id="profile-tab"
                          data-toggle="tab"
                          aria-expanded="true"
                          >Hóa đơn phòng</a
                        >
                      </libill>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div
                  role="tabpanel"
                  class="tab-pane fade active in"
                  id="tab_detail"
                >
                  <%- include('./detail') %>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab_services">
                  <%- include('./services') %>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab_bill">
                    <%- include('./bill') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
<%- include('../end_html') %>

<!-- Datatables -->
<script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/vendors/jszip/dist/jszip.min.js"></script>
<script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
