<%- include('../nav-bar.ejs') %>

<div id="wrapper">

    <%- include('../side-bar.ejs') %>

    <!-- Content -->
    <div id="content-wrapper">


        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin">Trang chính</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/news/list">Quản lí tin tức</a>
                </li>
                <li class="breadcrumb-item active">Danh sách tin tức</li>
                
            </ol>

            <!-- Alert message -->
            <%- include('../alert-message.ejs') %>

            <!-- Nội dung list service  -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Danh sách tin tức
                    <a class="btn btn-success" style="float:right; color: #fff;" href="./add">Thêm</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung</th>
                                    <th>Độ ưu tiên</th>
                                    <th class="thao-tac">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(locals.datas) { %>
                                <% datas.forEach(item => { %>
                                <tr>
                                    <td><%= item.id %></td>
                                    <td><%= item.title %></td>
                                    <td class="clip-content"><%= item.content %></td>
                                    <td class="td-small"><%= item.priority %></td>
                                    <td class="thao-tac">
                                        <a href="./edit/<%=item.id%>">sửa</a>
                                        <a href="./delete/<%=item.id%>" onclick="_delete(); return false ;">xóa</a>
                                    </td>
            
                                    <script>
                                        function _delete () {
                                            if(confirm('Bạn chắc chắn muốn xóa ? \n Dữ liệu sẽ không thể khôi phục!')) {
                                                next();
                                            }
                                        }
                                    </script>
                                </tr>
                                <% }) %>
                                <% } %>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.content-wrapper -->
    </div>

</div>
<!-- /#wrapper -->

<%- include('../sticky-footer.ejs') %>